@model LoginModel

<form action="" method="post">
<label>Email</label>
<input type="email" name="email" value=""/>
<br/><br />
<label>senha </label>
<input type="password" name=" Senha"value=" " />
<br /><br />
<button type="submit" class="btn btn-primary">
	Logar
</button>
</form>
<h1>@Model.Login</h1>

<h1>@Model.Password</h1>
<br /><br />
